*{
	box-sizing: border-box;
	margin:0;
	padding:0;
}
body{
	font-size:15px;
}
main{
	display:flex;
	justify-content:center;
	align-items: center;
	flex-direction: column;
}
h1{
	padding:10rem;
}
.input-container{
	display:flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
form{
	display:flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
input{
	padding:1rem;
	height:40px;
}
#btn{
	display:flex;
	justify-content:center;
	align-items: center;
	border:3px solid black;
	color:black;
	height:40px;
	width:150px;
	border-radius:20px;
	padding:1rem;
}
#btn:hover{
	cursor: pointer;
}
h2{
	margin:5rem;
}
@media screen and (max-width:600px){
	h1{
		margin-top:5rem;
		padding:2rem;
	}
}